/* Layouts */
/* PAGE LAYOUT
-----------------------------*/
.small-body .page-wrapper{
    min-height: 100vh;
    position: relative;
    .footer{
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}
.page-wrapper{
    background: @pagecontentbg;
    .clearfix();
}
body{
    color: @textcolor;
    font-family: @bodyfont, @bodyfontbackup;
    font-size: @textsize;
    line-height: 24px;
    -webkit-transition: opacity .24s ease-in-out;
       -moz-transition: opacity .24s ease-in-out;
            transition: opacity .24s ease-in-out;
}
.row-full-mg{
	margin-bottom: @rowspace !important;
}
.rtw_main{
	a{
		color: #00b3e6;
	}
}
.heightzero{
    height: 0;
    overflow: hidden;
}
.w-padding{
	padding-left: 3%;
	padding-right: 3%;
	@media(max-width: 767px){
		padding-left: 0px;
		padding-right: 0px;
	}
}
.main-container{
	.box-3,
	.box-1{
		background: @white;
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 0;
		padding: 50px 40px 0;
		@media(max-width: 1400px){
			padding: 30px 20px 0;
		}
		& > .vc_column_container{
			& > .vc_column-inner{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.box-2{
		background: @white;
		padding: 30px 40px @rowspace - 35px;
		@media(max-width: 1400px){
			padding: 30px 20px @rowspace - 35px;
		}
		@media(max-width: 767px){
			margin-bottom: 50px;
			padding-bottom: 15px;
		}
	}
	.box-3{
		padding: @rowspace 40px 0;
		@media(max-width: 1400px){
			padding: @rowspace 20px 0;
		}
		@media(max-width: 767pc){
			padding-top: 50px;
		}
	}
}
.wrapper{
    margin: 0 auto;
    position: relative;
    width: 100%;
    .row-container{
        display: block;
        margin: 0 auto;
        max-width: @rowcontainer;
        width: 100%;
        &:after{
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    // Box layout
    &.box-layout{
        overflow: hidden;
        .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, .2));
        &:after{
            clear: both;
            content: '';
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }
    }
    &.box-body{
        .header-container{
            background: none;
        }
        .page-wrapper{
            padding-bottom: 70px;
        }
    }
}
.wrapper .vc_row.full-width,
.wrapper .vc_row[data-vc-full-width]{
    .row-container{
        margin-left: -15px;
        margin-right: -15px;
        max-width: none !important; // override 
        width: auto;
    }
    &.vc_row-no-padding{
        .row-container{
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.wrapper .vc_row[data-vc-full-width]{
    overflow: visible; /* override */
}
.wrapper{
    .vc_col-has-fill > .vc_column-inner,
    .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
    .vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
    .vc_row-has-fill > .vc_column_container > .vc_column-inner{
        padding-top: 0;
    }
    .vc_column_container > .vc_column-inner{
        max-width: 100%;
        width: 100%;
    }
}
.vc_row{
    margin-bottom: @rowspace - 35px;
}
.vc_row.fix-bottom-space{
    margin-bottom: @rowspace;
}
.wrapper .vc_row.vc_row-o-equal-height{
    align-items: center;
}
.wrapper .vc_row.vc_row-flex > .vc_column_container > .vc_column-inner{
    z-index: unset;
}
.align-left{
     > .vc_column-inner > .wpb_wrapper{
        float: left;
         > *{
            float: left;
        }
    }
    .vc_column-inner{
        justify-content: flex-end;
        flex-direction: row !important;
    }
}
.align-right{
     > .vc_column-inner > .wpb_wrapper{
        float: right;
         > *{
            float: left;
        }
    }
    .vc_column-inner{
        justify-content: flex-end;
        flex-direction: row !important;
    }
}
/* header */
.txt-link-myaccount{
	float: right;
	margin-right: 15px;
	i{
		font-size: 0;
		&:before{
			font-size: 26px;
			line-height: 44px;
			height: 44px;
			color: @headerlinkcolor;
		}
		&:hover{
			&:before{
				color: @primarycolor;
			}
		}
	}
}
/* SHOP PAGE
-----------------------------*/
.shop-page{
    .main-container{
        padding-top: 0;
    }
}
.shop-banner{
    margin-bottom: 30px;
    position: relative;
    img{
        width: 100%;
    }
}
.fullwidth .shop-banner{
    display: none;
}
/* PRODUCT PAGE
-----------------------------*/
.single-product{
    .product-banner{
        margin-bottom: 40px;
    }
}
/* INNER BRANDS
-----------------------------*/
.inner-brands{
    min-height: 342px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0;
	background-size: cover;
	@media(max-width: 991px){
		min-height: initial;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
/* IMAGE HOVER 
-----------------------------*/
// Image hover effect (in main-container, not include header, footer -> logo, image payment)
.main-container .wpb_single_image{
     > .wpb_wrapper{
        max-width: 100%; // for responsive FF and IE
    }
}
.main-container{
    .wpb_single_image a,
    .image-hover-effect{
        .image-hover-effect();
    }
}
/* ICON
-----------------------------*/
.wrapper i.icon{
    display: inline-block;
    height: auto;
    line-height: inherit;
    margin: 0;
    vertical-align: middle;
    width: auto;
}
/* SLIDER REVOLUTION
-----------------------------*/
.wrapper .wpb_revslider_element{
    .tp-caption{
        a{
            color: inherit;
            display: block;
            font-size: inherit !important;
            line-height: inherit !important;
            position: relative;
            &:hover{
                color: inherit;
            }
        }
        i{
            font-size: 16px;
            line-height: inherit !important;
            margin-left: 5px;
            vertical-align: top;
        }
    }
}
.wrapper .slider-nospace{
    margin-bottom: 0;
    .wpb_revslider_element{
        margin-bottom: 0;
    }
}
/* PRODUCT CAROUSEL
-----------------------------*/
.roadthemes-slider{
    .item-col{
        flex: 0 1 auto; /* override */
        max-width: 100%; /* override */
        padding-left: 0; /* override */
        padding-right: 0; /* override */
        width: 100%;
    }
}
.products-nospace{
	.vc_column-inner{
		padding: 0 !important;
	}
	.roadthemes-slider{
		&.roadthemes-products{
			.lastActiveItem{
				.group{
					.item-col{
						.gridview{
							border-right-color: transparent;
						}
					}
				}
			}
			.group{
				.item-col{
					margin-bottom: 0;
					&:last-child{
						.gridview{
							border-bottom-color: transparent;
						}
					}
					.gridview{
						border-right-color: rgba(0,0,0,.15);
						border-bottom-color: rgba(0,0,0,.15);
						&:hover{
							border-left-color: transparent;
							border-top-color: transparent;
						}
					}
				}
			}
		}
	}
}
.roadthemes-slider.roadthemes-products{
    position: relative;
    /* for hover */
    .woocommerce{
        position: relative;
    }
    .owl-carousel,
    .owl-stage-outer{
        position: static;
		z-index: 0;
    }
    /* end for hover */
    .woocommerce{
        max-width: 100%;
    }
    .shop-products{
        margin-left: 0; /* override */
        margin-right: 0; /* override */
        position: relative;
		&.owl-carousel{
			.owl-stage-outer{
			}
			&:hover{
			}
		}
        .item-col{
            margin-bottom: 35px; /* override */
            padding-left: 0; /* override */
            padding-right: 0; /* override */
            width: 300px; // slider not load
            &:last-child{
                margin-bottom: 0;
            }
			&:hover{
                position: relative;
                z-index: 4;
            }
        }
        .owl-item{
            .item-col{
                width: 100%;
            }
            &:hover{
                position: relative;
                z-index: 1;
            }
        }
        .group{
            display: block; /* override */
        }
        .owl-item.active{
            .item-col{
                .animation(zoomIn 500ms ease-in-out);
            }
        }
    }
}
.product-grid-countdown{
    .shop-products{
		&.grid-view{
			.gridview{
				border: 1px solid @primarycolor;
				.border-radius(3px);
				.count-down{
					display: block;
				}
				.list-col8{
					padding: 20px 20px 30px;
				}
			}
		}
		.product-name{
			font-size: 1.4286em;
			margin-bottom: 20px;
		}
		.price-box{
			font-size: 1.5em;
			del{
				font-weight: 300;
			}
		}
	}
}
.show-stock-quantity{
	.p-stock-quanlity{
		display: block;
		margin: 25px 0 30px;
		color: @greycolor;
		span{
			font-weight: 700;
			color: @primarycolor;
		}
	}
}
.p-stock-quanlity{
	display: none;
	.pst-inner{
		display: flex;
		justify-content: space-between;
		line-height: 1;
		margin-bottom: 10px;
	}
	.progressBar{
		height: 14px;
		background: #eeeeee;
		.border-radius(7px);
		div{
			.border-radius(7px);
			height: 14px;
			background: @primarycolor;
		}
	}
}
.product-only-img{
	.product-grid{
		background: @white;
		padding: 30px 80px;
		margin-bottom: 35px;
	}
	.owl-carousel{
		margin: 0;
	}
	.shop-products{
		.gridview{
			padding: 0;
		}
		.product-button,
		.onsale{
			display: none;
		}
	}
	.list-col8{
		display: none !important;
	}
}
/* LIST PRODUCT
-----------------------------*/
.product-list{
	&.roadthemes-slider.roadthemes-products{
		.shop-products.owl-carousel{
			.owl-stage-outer{
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
    .shop-products{
        .group{
            width: 100%; /* override */
            .item-col{
                border: none;
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
					border: none;
                }
				&:hover{
					.product-button{
						.add-to-cart{
							.opacity(1);
						}
					}
					.listview{
					}
				}
            }
        }
        .listview{
            display: block;
        }
        .gridview{
            display: none;
        }
        .row{
            margin-left: 0;
            margin-right: 0;
        }
        .list-col4{
            float: left;
            width: 27%;
        }
        .product-image{
            overflow: hidden;
        }
        .list-col8{
            float: left;
            padding: 10px 0px 0px 20px;
            width: 73%;
			display: block;
			.product-name{
				margin: 0 0 10px 0;
			}
			.price-box{
				margin: 10px 0 0 0;
			}
        }
        .onsale,
        .product-desc{
            display: none;
        }
        .product-button{
			display: none;
			.actions{
				position: static;
			}
        }
    }
}
/* CATEGORIES MENU
-----------------------------*/
.categories-menu-wrapper{
    .categories-menu{
		position: absolute;
		left: 15px;
		right: 15px;
		&.show_inner{
			.morelesscate,
			#categories{
				display: block;
			}
		}
		.catemenu-toggler{
			height: 60px;
			line-height: 60px;
			background: @primarycolor;
			.border-radius(25px 25px 0 0);
			padding: 0 30px 0 60px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: @headerlinkcolor;
			font-size: 1.125em;
			font-weight: 600;
			cursor: pointer;
			position: relative;
			&:before{
				content: "\f123";
				font-family: 'Ionicons';
				font-size: 20px;
				position: absolute;
				left: 30px;
				top: 50%;
				line-height: 1;
				margin-top: -12px;
			}
		}
		.morelesscate{
			border-left: 2px solid @primarycolor;
			border-right: 2px solid @primarycolor;
			border-bottom: 2px solid @primarycolor;
			background: @categoriesbg;
			.border-radius(0 0 25px 25px);
		}
		#categories{
			display: none;
			height: auto;
			padding-top: 10px;
			background: @categoriesbg;
			border-left: 2px solid @primarycolor;
			border-right: 2px solid @primarycolor;
			.border-radius(0);
		}
        /* for default wordpress menu (not selected menu location) */
        & > ul{
            display: none;
            margin: 0;
            & > li{
                display: none;
            }
        }
        /* for default wordpress menu (selected menu location) */
        .categories-menu-container{
            display: none;
            position: relative;
            z-index: 100;
            ul{
                background: @categoriesbg;
                margin: 0;
                padding: 0;
                & > li{
                    list-style: none;
                    padding: 0 15px;
                    position: relative;
                    &.menu-item-has-children{
                         > a{
                            &:after{
                                border: none !important;
                                color: inherit;
                                content: '\f123';
                                display: inline-block;
                                font-family: 'Ionicons';
                                font-size: 10px;
                                height: auto;
                                left: auto;
                                position: absolute;
                                right: 15px;
                                top: 50%;
                                width: auto;
                                .transform(translateY(-50%));
                            }
                        }
                    }
                    &:hover{
                        & > a{
                            color: @primarycolor;
                        }
                         > .sub-menu{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .sub-menu{
                        border: 1px solid @bordercolor;
                        left: 100%;
                        min-width: 200px;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        visibility: hidden;
                        z-index: 9;
                        .transition();
                        .sub-menu{
                            top: 10px;
                        }
                    }
                    //first level
					& > a{
                        background-image: none;
                        border-bottom: 1px solid @bordercolor;
                        color: @categoriescolor;
                        display: block;
                        font-family: @categoriesfont;
                        font-size: @categoriesfontsize;
                        font-weight: @categoriesfontweight;
                        padding: 12px 15px;
                        text-decoration: none;
                        text-transform: capitalize;
                        -webkit-transition: all .4s ease;
                                transition: all .4s ease;
                        &:hover{
                            color: @primarycolor;
                        }
                    }
                }
            }
        }
        /* for normal */
        .categories{
            height: auto;
            & > .menu_holder{
                width: 100%;
                .menu_inner{
                    width: 100%;
					padding: 0 15px;
                    .nav_logo{
                        display: none;
                    }
                    & > ul{
                        & > li{
                            background: none;
                            padding: 0;
                            &.nav_search_box{
                                display: none !important;
                            }
                            &.current-menu-ancestor,
                            &.current-menu-item,
                            &.current-product-ancestor,
                            &:hover{
                                & > a{
                                    &.item_link{
                                        color: @linkhovercolor;
                                        .link_text,
                                        &:after,
                                        .link_content,
                                        i{
                                            color: @linkhovercolor;
                                        }
                                    }
                                }
                            }
                            &.menu-item-has-children{
                                & > a{
                                    &.item_link{
                                        background-image: none;
                                        &:before{
                                            display: none;
                                        }
                                        &:after{
                                            border: none !important;
                                            color: inherit;
                                            content: '\f123';
                                            display: inline-block;
                                            font-family: 'Ionicons';
                                            font-size: 10px;
											line-height: 1;
                                            height: auto;
                                            left: auto;
                                            position: absolute;
                                            top: 50%;
                                            width: auto;
                                            .transform(translateY(-50%));
                                        }
                                    }
                                }
                            }
                            //first level
							& > a{
                                &.item_link{
                                    background: none;
                                    color: @categoriescolor;
                                    display: block;
                                    height: auto; // override
                                    line-height: 1.8;
                                    min-height: 0 !important;
                                    overflow: hidden;
                                    padding: 11px 0px 11px 10px;
									border-bottom: 1px solid @bordercolor;
                                    text-decoration: none;
                                    -webkit-transition: all .4s ease;
                                            transition: all .4s ease;
                                    .link_text,
                                    i{
                                        color: @categoriescolor;
                                        height: 100%;
                                        text-transform: capitalize;
                                    }
                                    i{
                                        font-size: 14px; /* override */
                                        line-height: 1;
                                        padding-right: 10px; /* override */
                                        position: relative;
                                        top: 5px;
                                        width: auto; /* override */
                                    }
                                    .link_content{
                                        height: auto; /* override */
                                        line-height: inherit; /* override */
                                        min-height: 0; /* override */
                                        position: relative;
                                    }
                                    .link_text{
                                        font-size: @categoriesfontsize;
                                        font-weight: @categoriesfontweight;
                                        height: 100%;
                                        line-height: inherit;
                                        margin: 0 !important;
                                        min-height: 0 !important;
										line-height: 1;
                                        word-break: break-word;
                                    }
                                    &.with_icon{
                                         > .link_content{
                                            margin: 0;
                                        }
                                    }
                                    &:before,
                                    &:after{
                                        display: none;
                                    }
                                }
                            }
                            &.default_dropdown{
                                ul.mega_dropdown{
                                    background: @categoriessubmenubg;
                                    border: 1px solid @bordercolor;
                                    box-shadow: none;
                                    padding: 0 15px;
                                    li{
                                        border-bottom: 1px solid @bordercolor;
                                        width: 100%;
                                        &:last-child{
                                            border-bottom: none;
                                        }
                                        a.item_link{
                                            background: none;
                                            border: none;
                                            display: block;
                                            font-size: @categoriessubmenufontsize;
                                            line-height: 1.8;
                                            padding: 12px 0;
                                            text-transform: none;
                                            .link_text{
                                                color: @categoriessubmenucolor;
                                                font-family: @categoriessubmenufont;
                                                font-size: @categoriessubmenufontsize;
                                                font-weight: normal;
                                            }
                                            i{
                                                color: @textcolor;
                                                float: left;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus{
                                                background: none;
                                            }
                                            &:before{
                                                display: none;
                                            }
                                            &:hover{
                                                background: none;
                                                .link_text{
                                                    color: @primarycolor;
                                                }
                                                i{
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        &:hover,
                                        &.current-menu-ancestor,
                                        &.current-menu-item,
                                        &.current-product-ancestor{
                                            & > a.item_link{
                                                background: none;
                                                .link_text{
                                                    color: @primarycolor;
                                                }
                                                i{
                                                    color: @primarycolor;
                                                }
                                            }
                                            & > .item_link *{
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.multicolumn_dropdown{
                                &.columns3{
                                    & > ul.mega_dropdown{
                                        width: 670px;
                                    }
                                }
                                &.columns2{
                                    & > ul.mega_dropdown{
                                        width: 460px;
                                    }
                                }
                                &.columns1{
                                    & > ul.mega_dropdown{
                                        width: 255px;
                                    }
                                }
                                & > ul.mega_dropdown{
                                    background: @categoriessubmenubg;
                                    border: 1px solid @bordercolor;
                                    box-shadow: none;
                                    padding: 40px;
                                    & > li{
                                        padding: 0;
                                        a{
                                            background: none;
                                            padding: 0;
                                            text-transform: none;
                                            .link_text{
                                                color: @categoriessubmenucolor;
                                                display: block;
                                                font-family: @categoriessubmenufont;
                                                font-size: @categoriessubmenufontsize;
                                                font-weight: normal;
                                            }
                                            i{
                                                color: @categoriessubmenucolor;
                                                float: left;
                                                height: 36px;
                                                line-height: 36px;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus{
                                                background: none;
                                            }
                                            &:before{
                                                display: none;
                                            }
                                            &:hover{
                                                background: none;
                                                .link_text{
                                                    color: @primarycolor;
                                                }
                                                i{
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        //first sub level
										& > a{
                                            display: inline-block;
                                            font-size: @categoriessubmenufontsize;
                                            margin-bottom: 25px;
                                            position: relative;
                                            width: 100%;
                                            &[href='#']{
                                                pointer-events: none;
                                            }
                                            .link_text{
                                                color: @categoriessubmenucolor;
                                                display: block;
                                                font-family: @categoriessubmenufont;
                                                font-size: 1em;
                                                text-transform: capitalize;
                                            }
                                            i{
                                                height: 47px;
                                                line-height: 47px;
                                            }
                                            &:before{
                                                display: none;
                                            }
                                            &:hover{
                                                .link_text{
                                                    color: @primarycolor;
                                                }
                                                i{
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        ul.mega_dropdown{
                                            li{
                                                margin-bottom: 15px;
                                                &:last-child{
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                    li{
                                        &.current-menu-item,
                                        &.current-product-parent{
                                            & > .item_link *{
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.widgets_dropdown{
                                & > ul.mega_dropdown{
                                    background: @categoriessubmenubg;
                                    border-color: @bordercolor @bordercolor @primarycolor @bordercolor;
                                    border-style: solid;
                                    border-width: 1px 1px 3px 1px;
                                    box-shadow: none;
                                    padding: 0 15px !important;
                                    & > li{
                                        margin: 0;
                                        &.widget_menu{
                                            padding: 0;
                                            position: absolute;
                                            right: 20px;
                                            top: 32px;
                                            width: 170px !important;
                                            .widget{
                                                font-size: 12px;
                                                line-height: 1.5;
                                                margin: 0;
                                                padding-left: 0;
                                                padding-right: 0;
                                                width: 100%;
                                                .widgettitle{
                                                    background: none;
                                                    border-bottom: 1px solid @bordercolor;
                                                    margin: 0 0 8px;
                                                    padding: 0 0 5px;
                                                    text-transform: capitalize;
                                                }
                                                p{
                                                    float: left;
                                                    margin: 0;
                                                    width: 100%;
                                                    &:first-child{
                                                        margin-left: 0;
                                                    }
                                                }
                                                a{
                                                    display: block;
                                                    float: left;
                                                    overflow: hidden;
                                                    padding: 0;
                                                    position: relative;
                                                    width: 100%;
                                                    img{
                                                        margin: 0;
                                                        -webkit-transition: -webkit-transform .3s ease;
                                                                transition:         transform .3s ease;
                                                    }
                                                    &:before{
                                                        background: #000;
                                                        content: '';
                                                        display: block;
                                                        height: 100%;
                                                        left: 0;
                                                        opacity: 0;
                                                        position: absolute;
                                                        top: 0;
                                                        -webkit-transition: all .3s ease;
                                                                transition: all .3s ease;
                                                        width: 100%;
                                                        z-index: 1;
                                                    }
                                                    &:hover{
                                                        img{
                                                            -webkit-transform: scale(1.05);
                                                                    transform: scale(1.05);
                                                        }
                                                        &:before{
                                                            opacity: .2;
                                                        }
                                                    }
                                                }
                                                img{
                                                    float: left;
                                                }
                                            }
                                        }
                                        a{
                                            background: none;
                                            padding: 0;
                                            text-transform: none;
                                            .link_text{
                                                color: @vmenucolor;
                                                font-family: @bodyfont;
                                                font-size: 12px;
                                                font-weight: normal;
                                                line-height: 36px;
                                            }
                                            i{
                                                color: @vmenucolor;
                                                float: left;
                                                height: 36px;
                                                line-height: 36px;
                                                padding-right: 9px;
                                                position: static;
                                            }
                                            &:focus{
                                                background: none;
                                            }
                                            &:before{
                                                display: none;
                                            }
                                            &:hover{
                                                background: none;
                                                .link_text{
                                                    color: @primarycolor;
                                                }
                                                i{
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        //first sub level
										& > a{
                                            border-bottom: 1px solid @bordercolor;
                                            display: inline-block;
                                            margin-bottom: 10px;
                                            text-transform: capitalize;
                                            width: 100%;
                                            .link_text{
                                                color: @vmenucolor;
                                                font-family: @menufont;
                                                font-size: 14px !important;
                                                font-weight: normal;
                                                line-height: 47px;
                                            }
                                            i{
                                                height: 47px;
                                                line-height: 47px;
                                            }
                                            &:before{
                                                display: none;
                                            }
                                            &:hover{
                                                .link_text{
                                                    color: @primarycolor;
                                                }
                                                i{
                                                    color: @primarycolor;
                                                }
                                            }
                                        }
                                        & > ul.mega_dropdown{
                                            padding-bottom: 10px;
                                        }
                                    }
                                    li{
                                        &.current-menu-item,
                                        &.current-product-parent{
                                            & > .item_link *{
                                                color: @primarycolor;
                                            }
                                        }
                                    }
                                }
                            }
                            &.submenu_full_width{
                                & > ul.mega_dropdown{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .mmm_fullwidth_container{
                    display: none;
                }
            }
        }
        .menu-primary-menu-container{
            ul#menu-primary-menu{
                margin: 0;
                padding: 0;
                & > li{
                    list-style: none;
                }
            }
        }
        /* for active megamainmenu (not selected menu location) */
        div.mega_main_menu_ul{
            display: none;
        }
        .morelesscate{
            display: none;
            width: 100%;
            z-index: 9999999;
			padding: 0 15px;
            span{
                color: @categoriescolor;
                cursor: pointer;
                display: block;
                font-family: @categoriesfont;
                font-size: @categoriesfont;
                font-weight: @categoriesfontweight;
                padding: 12px 0px 25px 10px;
                text-decoration: none;
                -webkit-transition: all .4s ease;
                        transition: all .4s ease;
                i{
                    font-size: 12px;
                    padding-right: 10px;
					display:  none;
                }
                &.lesscate{
                    display: none;
                }
                &:hover{
                    color: @primarycolor;
                }
            }
        }
    }
}
/* BRAND CAROUSEL
-----------------------------*/
.brands-carousel{
	margin: 0 0 35px;
	padding: 40px 30px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
    .owl-item{
        a{
            display: block;
            text-align: center;
			overflow: hidden;
            &:hover{
                img{
                    .transform(scale(1.1));
					.opacity(1);
                }
            }
            img{
                display: inline-block;
                width: auto;
                .transition();
				.opacity(.5);
            }
        }
		.brand-item{
		}
		&.lastActiveItem{
			.brand-item{
			}
		}
    }
    &.style2{
        border-bottom: 1px solid @bordercolor;
        border-top: 1px solid @bordercolor;
        padding: 40px 0;
    }
    &.style3{
        border-top: 1px solid @bordercolor;
        margin-bottom: 0;
        padding: 40px 0;
    }
}
/* HOME TABS GENERAL
-----------------------------*/
.tab-products{
}
.vc_tta-container{
	margin-bottom: 0 !important;
    .vc_tta-tabs{
		.vc_tta-tabs-container{
			display: block !important;
			text-align: center !important;
			padding: 0 17px !important;
			margin: 0 !important;
			.vc_tta-tabs-list{
				padding-bottom: 10px !important;
				margin-bottom: 40px !important;
				.vc_tta-tab{
					a{
						margin: 0 5px;
						color: @greycolor !important;
						text-transform: capitalize;						
						border: none !important;
						line-height: 1;
						padding: 0 !important;
						background: none !important;
						span{
							padding: 15px 25px;
							background: #f1f1f1;
							.border-radius(2px);
							display: block;
						}
					}
					&:hover,
					&.vc_active{
						a{
							span{
								font-weight: 400;
								color: @white !important;
								background: @headingcolor !important;
							}
						}
					}
					&.vc_active{
						a{
							span{
								position: relative;
								&:before{
									content: "";
									position: absolute;
									top: 100%;
									left: 50%;
									margin-left: -5px;
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 5px 7px 0 7px;
									border-color: @headingcolor transparent transparent transparent;
								}
							}
						}
					}
				}
			}
		}
		.vc_tta-panels-container{
			.vc_tta-panels{
				background: none !important;
				border: none !important;
				.border-radius(0) !important;
				.vc_tta-panel{
					&.vc_active{
						.vc_tta-panel-heading{
							.vc_tta-panel-title{
								a{
									color: @headingcolor;
								}
							}
						}
					}
					.vc_tta-panel-heading{
						display: none !important;
						background: none !important;
						border: none !important;
						.vc_tta-panel-title{
							a{
								color: @greycolor;
								font-weight: 400;
								text-align: center;
								padding: 0 0 20px 0;
							}
						}
					}
					.vc_tta-panel-body{
						padding: 0 !important;
						overflow: initial !important;
						background: none !important;
						border: none !important;
						.vc_tta-panel-heading{
							.border-radius(0);
						}
					}
				}
			}
		}
	}
}
/* ACCORDION
-----------------------------*/
.vc_tta-accordion{
    .vc_tta-panels-container{
        .vc_tta-panel{
            margin: 0 0 15px 0;
            border-bottom: 1px solid @bordercolor;
            &.vc_active{
                .vc_tta-panel-heading{
                    background: @primarycolor !important;
                    border-bottom: none;
                    border-color: @primarycolor !important;
                    outline: none;
                    a{
                        color: @white !important;
                    }
                    .vc_tta-controls-icon{
                        background: @white;
                        color: @primarycolor;
                    }
                }
            }
            .vc_tta-panel-heading{
                background: @white !important;
                border: none !important;
                line-height: 1.5;
                margin: 0 !important;
                padding: 0;
                &:hover{
                    background: @primarycolor !important;
                    border-bottom: none;
                    border-color: @primarycolor !important;
                    outline: none;
                    a{
                        color: @white !important;
                    }
                    .vc_tta-controls-icon{
                        background: @white;
                        color: @primarycolor;
                    }
                }
                .vc_tta-panel-title{
                    font-size: 1.143em;
                }
                a{
                    color: @darkcolor !important;
                    line-height: 1.5;
                    font-weight: @headingfontweight;
                    padding: 15px 60px 15px 20px !important;
                }
                .vc_tta-controls-icon{
                    left: auto !important;
                    width: 21px;
                    height: 21px;
                    text-align: center;
                    line-height: 21px;
                    background: #e8e8e8;
                    color: @white;
                    .border-radius(100%);
                    position: absolute;
                    font-style: normal; /* override */
                    right: 20px !important;
                    &:before{
                        content: "\f3d0";
                        font-family: 'Ionicons';
                        font-size: 14px;
                        border: none;
                        position: static;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 1px;
                        .transform(none);
                    }
                    &:after{
                        display: none !important;
                    }
                }
            }
            .vc_tta-panel-body{
                background: @white !important;
                border: none;
                padding: 30px 20px !important;
                .transition(padding .4s ease-in-out);
            }
            h4{
                font-size: 1em;
                font-weight: normal;
                font-family: @bodyfont;
            }
            h2, h3, h4, p{
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
/* BLOG CAROUSEL
-----------------------------*/
.posts-carousel-container{
	padding-top: @rowspace;
	padding-bottom: @rowspace;
	margin-bottom: @rowspace;
}
.posts-carousel{
    position: relative;
    &.roadthemes-slider{
        .group{
            max-width: 100%;
            width: 500px;
        }
        .owl-item{
            .group{
                width: 100%;
            }
        }
    }
    &:not(.roadthemes-slider){
        .group{
            .item-col{
                margin-bottom: 45px;
            }
            &:last-child{
                .item-col{
                    margin-bottom: 0;
                }
            }
        }
    }
    .post-wrapper{
        .clearfix();
		background: @white;
    }
    .post-thumb{
        overflow: hidden;
        position: relative;
        width: 100%;
		line-height: 1;
        a{
            .image-hover-effect();
			img{
			}
        }
		.post-date{
			position: absolute;
			right: 20px;
			top: 20px;
			padding: 15px;
			.box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.1));
			background: @white;
			text-align: center;
			.post-date-d{
				color: @headingcolor;
				font-family: @pricefont;
				font-size: 1.6667em;
				font-weight: 700;
			}
			.post-date-m{
				color: @greycolor;
				margin-bottom: 10px;
			}
		}
    }
    .post-info{
		padding: 20px 0 0;
		.post-title{
			font-size: 1.3333em;
			font-weight: 500;
			margin: 0 0 15px 0;
			a{
				&:hover{
				}
			}
		}
		.post-meta{
			display: block;
			margin-bottom: 15px;
			line-height: 1;
			 > *{
				display: inline-block;
				margin: 0 5px 0 0;
			}
			.post-category{
				span{
					color: @textcolor;
				}
			}
		}
		.post-excerpt{
			margin-bottom: 25px;
			p{
				margin: 0;
			}
		}
		.btn-readmore-comment{
			display: flex;
			justify-content: space-between;
			font-size: 1.1666em;
			.readmore{
				text-transform: capitalize;
				padding-bottom: 8px;
				border-bottom: 2px solid @bordercolor;
				font-weight: 500;
				line-height: 1;
				&:hover{
					border-bottom-color: @primarycolor;
				}
			}
		}
    }
}
/* TESTIMONIAL
-----------------------------*/
.main-container{
	.testimonials-container{
		&:not(.w-padding){
			padding-top: @rowspace;
			padding-bottom: @rowspace;
			margin-bottom: @rowspace;
			@media(max-width: 767px){
				margin-bottom: 50px;
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
		&.w-padding{
			padding: 0 4.2%;
		}
		.wpb_single_image{
			margin-bottom: 0;
		}
		& > .wpb_column{
			.vc_row{
				padding-top: @rowspace;
				padding-bottom: @rowspace;
				margin-bottom: 30px;
				@media(max-width: 767px){
					padding-top: 50px;
					padding-bottom: 50px;
				}
			}
		}
	}
}
.testimonials-wrapper{
	&.style1{
		.clearfix();
		.testimonials-list{
			margin-bottom: 0;
			max-width: 1170px;
			margin-left: auto;
			margin-right: auto;
			&.owl-carousel{
				.owl-nav{
					button{
						&.owl-next,
						&.owl-prev{
							background: none;
							border: none;
							.border-radius(0);
							
						}
						&:before{
							color: #cecece;
							font-size: 36px;
						}
						&:hover{
							&:before{
								color: @headingcolor;
							}
						}
						&.owl-prev{
							&:before{
								content: "\f3d2";
							}
						}
						&.owl-next{
							&:before{
								content: "\f3d3";
							}
						}
					}
				}
			}
			.quote-container{
				width: 100%;
				.quote{
					margin: 0 auto;
					max-width: 900px;
					background: none;
					padding: 0;
					position: relative;
					text-align: center;
					 > .avatar,
					 > a.avatar-link{
						display: block;
						height: 100px;
						margin: 0 auto 30px;
						overflow: hidden;
						vertical-align: middle;
						width: 100px;
						.border-radius(100%);
						img{
							display: inline-block;
						}
					}
					.testimonials-text{
						background: none; /* override */
						border: none; /* override */
						letter-spacing: .025em;
						line-height: 2.5;
						font-style: normal;
						margin: 0 0 30px 0;
						padding: 0 20px 50px; // override
						background: url('../images/icon_qoute.png') center bottom no-repeat;
						p{
							margin: 0;
						}
					}
					.author{
						margin: 0;
						position: relative;
						.name,
						[itemprop='name']{
							color: @headingcolor;
							font-style: normal; /* override */
							letter-spacing: .5em;
							font-weight: 600;
							text-transform: uppercase;
							display: block;
							margin: 0 0 10px 0;
						}
						.title,
						[itemprop='jobTitle']{
							color: @greycolor;
							font-size: 1em;
							text-transform: capitalize;
							font-style: normal; /* override */
							font-weight: 400;
							display: block;
							letter-spacing: .025em;
							line-height: 1;
						}
						[class*='url']{
							display: block;
							a{
								font-size: 0.917em;
								color: @primarycolor;
							}
						}
						a{
							color: @primarycolor;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	&.style-about-page{
		.widget_woothemes_testimonials{
			.clearfix();
		}
		.testimonials{
			background: @white;
			width: 100%;
			.clearfix();
			.quote{
				margin: auto;
				max-width: 900px;
				position: relative;
				text-align: center;
				 > .avatar,
				 > a.avatar-link{
					background: @white;
					border: 11px solid #e5e5e5;
					display: block;
					height: 93px;
					margin: auto;
					overflow: hidden;
					width: 93px;
					.border-radius(100%);
				}
			}
			.testimonials-text{
				background: none; /* override */
				border: none; /* override */
				color: @textcolor;
				font-style: normal;
				line-height: 2;
				margin: 0 0 25px 0;
				padding: 0; // override
				text-align: center;
				&:before{
					background: url(../images/testimonial-icon.png) center center no-repeat;
					content: '';
					display: block;
					height: 50px;
					margin: 0 auto 27px auto;
					width: 50px;
				}
			}
			.author{
				display: block;
				margin-top: 14px;
				position: relative;
				text-align: center;
				.name,
				[itemprop='name']{
					color: @primarycolor;
					display: block;
					font-family: @headingfont;
					font-style: normal; /* override */
					font-weight: @headingfontweight;
					text-transform: uppercase;
				}
				.title,
				[itemprop='jobTitle']{
					color: @darkcolor;
					display: block;
					font-style: normal; /* override */
					font-weight: normal;
					margin: 0;
				}
				[class*='url']{
					display: none;
				}
				a{
					color: @primarycolor;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
/* SOCIAL ICON
-----------------------------*/
.social-icons{
	padding: 0;
    margin: 0; /* override */
    li{
        display: inline-block;
		margin: 0 20px;
        position: relative;
        vertical-align: middle;
        &:first-child{
			margin-left: 0;
		}
        &:last-child{
            margin-right: 0;
        }
        a{
			color: @greycolor;
            display: block;
            font-size: 18px;
            text-align: center;
            &:hover{
				color: @primarycolor;
            }
        }
    }
}
/* IMAGE SLIDER
-----------------------------*/
.image-slider{
    margin: 0;
    padding: 0;
    .image{
		text-align: center;
		padding: 55px 0;
        a{
            img{
                display: inline-block;
                width: auto;
            }
        }
    }
    .title{
        margin-top: 8px;
        text-align: center;
		display: none;
        h3{
            font-size: .933em;
            font-weight: normal;
            margin: 0;
        }
        a{
            color: @textcolor;
            &:hover{
                color: @linkhovercolor;
            }
        }
    }
}
/* COUNTDOWN
-----------------------------*/
.countdown{
    .timebox{
        display: inline-block;
        padding: 0 27px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        &:after{
            content: ':';
            display: block;
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 9;
            .transform(translateY(-50%));
        }
        &:last-child:after{
            display: none;
        }
        strong{
            color: @primarycolor;
            display: block;
            font-size: 2.857em;
            font-weight: 500;
            line-height: 1;
            min-width: 60px;
        }
        span{
            display: block;
            font-size: 1em;
            margin-top: 7px;
            text-transform: uppercase;
        }
    }
}
/* NEWSLETTER
-----------------------------*/
.newsletter-container{
	margin-bottom: 35px;
    .wpb_text_column{
        margin-bottom: 0;
    }
	.newsletter-title{
		margin-bottom: 10px;
        h4{
            font-size: 1.1429em;
            margin-bottom: 0;
			line-height: 1;
			i{
				font-size: 0;
				padding-right: 10px;
				&:before{
					font-size: 40px;
					color: @headerlinkcolor
				}
			}
        }
    }
}
/* newsletter */
.mc4wp-form{
    max-width: 620px;
	margin: 0 auto;
	padding: 10px 0;
    vertical-align: middle;
	border: 2px solid @bordercolor;
    .mc4wp-form-fields{
        background: transparent;
        display: flex;
		align-items: center;
        max-width: 100%;
        position: relative;
        .clearfix();
    }
    input{
        box-shadow: none;
        outline: none;
    }
    input[type='email']{
        background: none;// override
        border: none; // override
        color: @greycolor;
        display: block;
        font-size: 1em;
        height: 30px;
        line-height: 30px;
        width: ~"calc( 100% - 180px )";
        padding: 0 20px;
        text-align: left;
        white-space: nowrap;
        .border-radius(0);
		flex-grow: 2;
		@media(max-width: 767px){
			width: ~"calc( 100% - 100px )";
		}
        // style placeholder color and hide when click
        /*WebKit browsers*/
        &::-webkit-input-placeholder{
            color: @greycolor;
            opacity: 1;
        }
        &:focus::-webkit-input-placeholder{
            color: transparent;
        }
        /* Mozilla Firefox 4 to 18 */
        &:-moz-placeholder{
            color: @greycolor;
            opacity: 1;
        }
        &:focus:-moz-placeholder{
            color: transparent;
        }
        /* Mozilla Firefox 19+ */
        &::-moz-placeholder{
            color: @greycolor;
        }
        &:focus::-moz-placeholder{
            color: transparent;
        }
        /* Internet Explorer 10+ */
        &:-ms-input-placeholder{
            color: @greycolor;
        }
        &:focus:-ms-input-placeholder{
            color: transparent;
        }
    }
    button[type='submit']{
        background: none;
        border: none;
        border-left: 2px solid @bordercolor;;
        box-shadow: none;
        color: @headingcolor;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        margin: 0;
        font-size: 1em;
        font-weight: 600;
        outline: none;
        padding: 0;
        text-align: center;
		text-transform: uppercase;
		width: 180px;
		text-align: center;
        .transition();
        .border-radius(0);
		@media(max-width: 767px){
			width: 100px;
		}
        &:hover{
			color: @primarycolor;
        }
    }
    .mc4wp-alert{
        margin-top: 15px;
    }
}
/* COUNTER
-----------------------------*/
.roadthemes-counter{
    text-align: center;
    .counter-number{
        color: @primarycolor;
        display: block;
        font-size: 2.857em;
        font-weight: 500;
        line-height: 1;
        min-width: 60px;
    }
    .counter-text{
        display: block;
        font-size: 1em;
        margin-top: 7px;
        text-transform: uppercase;
    }
}
/* STATIC
-----------------------------*/
.banner-nospace{
	margin-left: 0 !important;
	margin-right: 0 !important;
	> .vc_column-inner{
		padding: 0 !important;
	}
}
.banner-categories{
	display: flex;
	@media(max-width: 767px){
		display: block;
		.wpb_wrapper{
			*{
				width: 100%;
			}
		}
	}
	&.style2{
		/* padding: 0 40px; */
		& > .wpb_column{
			width: 21.46%;
			&.multicol2{
				width: 35.33%;
			}
			&.multicol{
				width: 21.74%;
			}
		}
		@media(max-width: 1440px){
			& > .wpb_column{
				width: 21.5%;
				&.multicol2{
					width: 34.6%;
				}
				&.multicol{
					width: 21.5%;
				}
			}
		}
		@media(max-width: 1200px){
			& > .wpb_column{
				width: 21.5%;
				&.multicol2{
					width: 34%;
				}
				&.multicol{
					width: 21.2%;
				}
			}
		}
		@media(max-width: 768px){
			.wpb_text_column{
				top: 20px;
				left: 25px;
			}
		}
	}
	& > .wpb_column{
		width: 33.194%;
		&.multicol{
			width: 33.612%;
		}
		@media(max-width: 1199px){
			width: 33%;
			&.multicol{
				width: 33%;
			}
		}
		@media(max-width: 767px){
			width: 100% !important;
			&.multicol{
				width: 100% !important;
			}
		}
	}
	.vc_row,
	&.vc_row{
		margin-left: -10px;
		margin-right: -10px;
		@media(max-width: 767px){
			&:not(.box-2){
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	.vc_column_container{
		& > .vc_column-inner{
			padding-left: 10px;
			padding-right: 10px;
			@media(max-width: 767px){
				.vc_column-inner{
					padding: 0;
				}
			}
		}
	}
	.wpb_text_column{
		position: absolute;
		top: 40px;
		left: 45px;
		margin-bottom: 0;
		h5{
			line-height: 1;
			font-size: 1.5em;
		}
		a{
			line-height: 1;
			&:after{
				content: "\f362";
				font-family: "Ionicons";
				font-size: 14px;
				color: @primarycolor;
				line-height: 1;
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
	.multicol2,
	.multicol{
		.vc_row{
			margin-bottom: 0;
			&:not(:last-child){
				margin-bottom: 20px;
				@media(max-width: 767px){
					margin-bottom: 35px;
				}
				.wpb_single_image{
					margin-bottom: 0px;
				}
			}
		}
	}
}
.banner-with-text{
	.wpb_text_column{
		margin: 0;
		position: absolute;
		left: 65px;
		top: 50%;
		.transform(translateY(-50%));
		margin-top: -17px;
		h5{
			font-size: 2.3333em;
			font-weight: 400;
			margin: 0;
			line-height: 1.1;
		}
		h6{
			font-size: 1.1667em;
			line-height: 1;
			margin: 0 0 15px 0;
			font-weight: 600;
			text-transform: uppercase;
		}
		a{
			display: inline-block;
			color: @headingcolor;
			position: relative;
			padding-bottom: 4px;
			margin-top: 75px;
			font-weight: 600;
			text-transform: uppercase;
			&:before{
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: @headingcolor;
				height: 2px;
			}
			&:hover{
				color: @primarycolor;
				&:before{
					background: @primarycolor;
				}
			}
		}
	}
}
.banner-with-text2{
	.wpb_text_column{
		margin: 0;
		position: absolute;
		left: 45px;
		top: 40px;
		h5{
			font-size: 1.6667em;
			font-weight: 500;
			margin: 0;
			line-height: 1.1;
		}
		h6{
			font-size: 1.5em;
			line-height: 1;
			margin: 0 0 5px 0;
			font-weight: 300;
		}
		a{
			display: inline-block;
			color: @headingcolor;
			position: relative;
			margin-top: 25px;
			&:after{
				content:"\f362";
				font-family:"Ionicons";
				font-size: 1.1667em;
				padding-left: 5px;
				color: @primarycolor;
			}
			&:hover{
				color: @primarycolor;
			}
		}
	}
}
.banner-3{
	.wpb_column{
		&:first-child{
			.vc_column-inner{
				@media(min-width: 768px){
					padding-left: 0;
				}
			}
		}
		& + .wpb_column{
			.vc_column-inner{
				@media(min-width: 768px){
					padding-right: 0;
				}
			}
		}
	}
}
.banner-4{
	padding: 30px 15px 0;
}
.banner-5{
	padding: 0 15px;
}
.banner-7{
	padding: 30px 0 0;
}
.txt-countdown{
	display: none;
}
.thumb-listview{
	display: none;
	.thumb-listview_gallery{
		padding: 0;
		list-style: none;
		li{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				img{
					border: 2px solid rgba(0,0,0,.1);
				}
				&:hover,
				&.active{
					img{
						border-color: @primarycolor;
					}
				}
			}
		}
	}
}
.product-sale-style2{
	.product-wrapper{
		padding: 0;
		border: none;
	}
	.product-wrapper-inner{
		display: flex;
	}
	.thumb-listview{
		display: block;
	}
	.list-col4{
		width: 51%;
		float: right;
		padding: 0 20px 0 30px;
		order: 2;
	}
	.list-col8{
		width: 40%;
		float: left;
		padding: 60px 30px 0 !important;
		order: 1;
		background: #f8f8f8;
		.heading-title{
			margin-bottom: 60px;
		}
		.price-box{
			font-size: 2.125em;
			margin-bottom: 20px;
			del{
				font-size: 0.5294em;
			}
		}
		.product-name{
			font-size: 1.5em;
			line-height: 1.1667;
			margin-bottom: 20px;
		}
		.txt-countdown{
			display: block;
			font-size: 1.125em;
			margin-bottom: 30px;
		}
		.hastime{
			max-width: 300px;
			margin: 0 auto;
			background: @white;
		}
	}
	.thumb-listview{
		width: 9%;
		float: left;
		order: 3;
	}
}
.main-container .fullbanner{
    margin-left: 0;
    margin-right: 0;
}
.fullbanner.layout1{
    background-attachment: fixed !important;
    color: @white;
    padding: 150px 0;
    text-align: center;
    .wpb_text_column{
        margin: 0;
        h5{
            color: @white;
            font-family: @bodyfont;
            font-size: .929em;
            margin: 0 0 10px 0;
            letter-spacing: 0.5em;
        }
        h3{
            color: @white;
            font-family: @bodyfont;
            font-size: 6.429em;
            font-weight: bold;
            line-height: 1;
            margin: 0;
        }
        p{
            margin-left: auto;
            margin-right: auto;
            max-width: 780px;
        }
        img{
            margin: 25px 0 35px 0;
        }
        a{
            background: @primarycolor;
            color: @white;
            display: inline-block;
            font-size: .929em;
            font-weight: 500;
            margin-top: 40px;
            padding: 15px 30px;
            text-transform: uppercase;
            .border-radius(4px);
            &:hover{
                background: darken(@primarycolor, 10%);
            }
        }
    }
}
.fullbanner.layout2{
    background-attachment: fixed !important;
    color: @white;
    padding: 162px 0;
    text-align: left;
    .wpb_text_column{
        max-width: 780px;
        margin: 0;
        h5{
            color: @white;
            font-family: @bodyfont;
            font-size: .929em;
            margin: 0 0 10px 0;
            letter-spacing: 0.5em;
        }
        h3{
            color: @white;
            font-size: 2.571em;
            margin: 0 0 15px 0;
        }
        img{
            margin: 0 0 35px 0;
        }
        a{
            background: transparent;
            color: @primarycolor;
            display: inline-block;
            border: 2px solid @primarycolor;
            font-size: .929em;
            font-weight: 500;
            padding: 15px 30px;
            text-transform: uppercase;
            margin-top: 45px;
            .border-radius(4px);
            &:hover{
                background: @primarycolor;
                border-color: @primarycolor;
                color: @white;
            }
        }
    }
}
.wrapper{
    .banner-nogap{
        margin-left: 0;
        margin-right: 0;
    }
}
.banner-nogap{
    .vc_row{
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .vc_column_container .vc_column-inner{
        padding-left: 0;
        padding-right: 0;
    }
    .wpb_single_image{
        margin: 0;
    }
}
.our-service-block{
    padding: @rowspace 0;
    .wpb_single_image{
        margin-bottom: 15px;
    }
    .wpb_text_column{
        text-align: center;
        line-height: 1.75;
        a{
            color: @darkcolor;
            font-family: @headingfont;
            font-weight: @headingfontweight;
            font-size: 1.286em;
            margin-bottom: 5px;
            display: inline-block;
            &:after{
                content: "";
                display: block;
                width: 30px;
                height: 2px;
                margin: 12px auto 0 auto;
                background: #e1e1e1;
                .transition();
            }
            &:hover{
                color: @primarycolor;
                &:after{
                    width: 50px;
                    background: @primarycolor;
                }
            }
        }
    }
}
/* POLICY
-----------------------------*/
.policy-block{
	text-align: center;
	.wpb_single_image{
		margin-bottom: 30px;
	}
	.txt-block{
		padding-left: 15px;
		h4{
			font-size: 1em;
			line-height: 1;
			margin: 0 0 10px 0;
			font-weight: 600;
			text-transform: uppercase;
		}
		h6{
			font-size: 1em;
			margin: 0;
			font-weight: 400;
			letter-spacing: .025em;
			line-height: 2;
			color: @greycolor;
		}
	}
}
/* INSTAGRAM FEED
-----------------------------*/
#sb_instagram{
	margin: 0 -10px !important;
	width: auto !important;
	#sbi_images{
		.sbi_item{
			padding: 0 10px !important;
		}
	}
}